body {
    background: aquamarine;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}