body {
    background: aquamarine;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}

div#res {
    text-align: center;
    padding: 10px;
    background: rgba(117, 121, 111, 0.274);
}
p#bt {
    padding-left: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}